<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>939092589621-lkpj7843njdf9ist2mostgmjuvl9284a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.939092589621-lkpj7843njdf9ist2mostgmjuvl9284a</string>
	<key>API_KEY</key>
	<string>AIzaSyD55DJs-0ASOyOamT0ZWN4mVRyQ2tG4020</string>
	<key>GCM_SENDER_ID</key>
	<string>939092589621</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.portal</string>
	<key>PROJECT_ID</key>
	<string>buportal1</string>
	<key>STORAGE_BUCKET</key>
	<string>buportal1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:939092589621:ios:1e5fc0344930bcce06c57c</string>
</dict>
</plist>